@model StudentAppThree.Models.PopisViewModel


<form id="addEditForm">
    @Html.HiddenFor(model => model)

    @Html.DropDownListFor(model => model.KolegijId, ViewBag.Kolegij as SelectList, "-- Odaberi Kolegij--", new { @class = "form-Control" })

    @Html.DropDownListFor(model => model.StudentId, ViewBag.Studenti as SelectList, "-- Odaberi Studenta --", new { @class = "form-Control" })

    @*@Html.HiddenFor(model => Model.MyProperty.PopisId)

        @Html.DropDownListFor(model => Model.MyProperty.Kolegij.KolegijId, ViewBag.Kolegij as SelectList, "-- Odaberi Kolegij--", new { @class = "form-Control" })

        @Html.DropDownListFor(model => Model.MyProperty.Studenti.StudentId, ViewBag.Studenti as SelectList, "-- Odaberi Studenta --", new { @class = "form-Control" })*@

    <a href="#" id="btnSubmit" class="btn btn-outline-primary">
        @if (Model.PopisId> 0)
        {<span>Uredi postojeći</span>}
        else
        { <span>Novi Upis</span>}
    </a>
</form>


<script>

    $(document).ready(function () {
        debugger
        $("#btnSubmit").click(function () {
            debugger
            console.log("Clicked");
            let addEditFormData = $("#addEditForm").serialize();

           
            console.log(addEditFormData);

        });

    });

</script>

@*<script>
        $(document).ready(function () {

            $("#btnSubmit").click(function () {

                let addEditFormData = $("#addEditForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/Home/AppIndex",
                    data: addEditFormData,
                    success: function () {
                        $("#myModal").modal("hide");
                        window.location.href = "/Home/AppIndex";
                    }

                })

            });

        });
    </script>*@
